<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="toggleReorder()">Toggle</ion-button>
    </ion-buttons>

    <ion-title>List Reorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="reorderDisabled">
    <ion-item *ngFor="let nombre of nombres">
      <ion-label>{{ nombre }}</ion-label>
      <ion-reorder slot="end">
        <ion-icon name="pizza"></ion-icon>
      </ion-reorder>
    </ion-item>
  </ion-reorder-group>

</ion-content>