<app-header [title]="nombre || 'Inputs'"></app-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Inputs</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-list-header>
      <ion-label>Formulario: {{ formulario.valid }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email" required name="email" [(ngModel)]="usuario.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input type="password" required name="password" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>

    <ion-button [disabled]="formulario.invalid" type="submit" expand="block" fill="clear" shape="round">
      Click me
    </ion-button>
  </form>
</ion-content>